body{
background-color: purple;
font-family:Arial, sans-serif;
}

h1{

	
color:white;
text-allignment:center;
}

h2{
color:red;
text-allignment:center
text-size:19pts
}

p{
color: orange;
}
p2{
color:orange ;
}
p3{
color: orange ;